body {
  background-color: rgb(204, 204, 204);
  color: rgb(64, 64, 64);
  display: flex;
  justify-content: center;
  flex-direction: column;
} 
input[type="button"] {
  background-color: rgb(179, 217, 255);
  color: rgb(0, 102, 204);

}
nav {
  display: flex;
  justify-content: flex-start;
}
h1 {
  background-color: darkgrey;
  text-align: center;
}